header,
main,
footer {
  max-width: 75rem;
  margin: 0 auto;
}

/* BODY STYLING */

/* HEADER STYLING */

/* NAVIGATION STYLING */

/* MAIN STYLING */
main ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* FOOTER STYLING */
