/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY STYLING */

/* HEADER STYLING */
div#headerWrapper {
  background-color: $darkRed;
}
header {
  padding: 1rem 2vw;
  display: flex;
  h1 {
    color: #fff;
  }
  img {
    width: 75px;
    height: auto;
  }
}

/* NAVIGATION STYLING */

/* MAIN STYLING */
main {
  padding: 1rem 2vw;
  p {
    padding: 0.5rem 0;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  ul li {
    list-style-type: none;
  }
  ul li a {
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    background-color: $medBlue;
    margin: 0.5rem;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }
  ul li a:hover {
    background-color: $lightBlue;
  }
}

/* FOOTER STYLING */
div#footerWrapper {
  background-color: $darkRed;
  footer {
    padding: 1rem 0;
  }
  footer p {
    text-align: center;
    color: #fff;
    padding: 0.25rem 0;
    font-size: 0.8rem;
  }
}
