header, nav, main, footer {
    max-width: 70rem;
    margin: 0 auto;
}

header {
    div {
        margin-top: $gutter;
    }
    h1 {
        font-size: 2rem;
    }
}

nav ul li {
    flex: 0;
    a {
        width: 8rem;
    }
}

.fruitGallery figure {
    flex-basis: 23%;
}