// Prevent adjustments of font size after orientation changes.
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

// Apply a natural box layout model to all elements.
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}

header {
    display: grid;
    grid-template-columns: 120px auto;
    padding: $gutter;
    div {
        margin-top: 25px;
    }
    h1 {
        margin: 0;
        font-size: 1.6rem;
        letter-spacing: 4px;
        font-weight: $boldWeight;
        color: $primaryColor;
    }
    h3 {
        margin: 0;
    }
}

nav {
    background-color: $primaryColor;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    li.active {
        background-color: darken($primaryColor, 10%);
        a { color: #fff; }
    }
    a {
        display: block;
        padding: 0.75rem;
        color: #fff;
        font-weight: $lightWeight;
        text-align: center;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            background-color: lighten($primaryColor, 10%);
        }
    }
}

main {
    padding: 0 $gutter;
}

// Image gallery
.fruitGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $gutter 0;
}

.fruitGallery figure {
    margin: 1%;
    flex-basis: 48%;
    img {
        width: 100%;
        height: auto;
    }
    figcaption {
        text-align: center;
    }
}

// Begin the footer

footer {
    background: $primaryColor;
    color: #fff;
    padding: 0.5rem;
    p {
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }
}