header,
nav,
main,
footer {
  max-width: 64rem;
  margin: 0 auto;
}

/* BODY STYLING */

/* HEADER STYLING */
header {
  width: 100%;
}

/* NAVIGATION STYLING */
nav {
  left: 50%;
  margin-left: -32rem;
}

/* MAIN STYLING */

/* FOOTER STYLING */
footer {
  width: 100%;
  margin-bottom: 5.8rem;
}
