/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY STYLING */
body {
  font-size: 16px;
  font-family: $bodyFont;
  font-weight: $regular;
  background-color: $cream;
}
div#pageWrapper {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer"
    "nav";
  grid-template-columns: 100%;
}

/* HEADER STYLING */
header {
  padding: 1rem 2vw;
  grid-area: header;
  background-color: $darkGreen;
  color: $cream;
  h1 {
    margin: 0;
    font-family: $displayFont;
    text-align: center;
  }
}

/* NAVIGATION STYLING */
nav {
  grid-area: nav;
  background-color: darken($lightGreen, 10%);
  padding: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  ul li {
    list-style-type: none;
    flex-basis: 33.3%;
    border-right: 1px solid darken($lightGreen, 10%);
  }
  ul li:last-child {
    border-right: none;
  }
  ul li.active a {
    background-color: darken($lightGreen, 7%);
  }
  ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $lightGreen;
    padding: 1rem;
    color: $cream;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  ul li a:hover {
    background-color: lighten($lightGreen, 7%);
  }
  ul li a i {
    padding-bottom: 0.5rem;
    font-size: 2rem;
  }
}

/* MAIN STYLING */
main {
  grid-area: content;
  padding: 1rem 2vw;
  background-color: #fff;
  min-height: 75vh;
  h2 {
    color: $darkOrange;
  }
  div#inventoryWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem 0;
  }
  section {
    background-color: $lightOrange;
  }
  section figure {
    position: relative;
  }
  section figure img {
    width: 100%;
    height: auto;
  }
  section figure figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
  }
  section div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    grid-gap: 0.5rem;
  }
  section div span i {
    float: left;
    font-size: 1.5rem;
  }
  section div span p {
    padding-left: 1.6rem;
    font-size: 0.9rem;
  }
}

/* FOOTER STYLING */
footer {
  grid-area: footer;
  padding: 1rem 0;
  background-color: $darkGreen;
  margin-bottom: 5.8rem;
  p {
    color: $cream;
    font-size: 0.8rem;
    text-align: center;
  }
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
