$darkGreen: #283618;
$lightGreen: #606C38;
$darkOrange: #BC6C25;
$lightOrange: #DDA15E;
$cream: #FEFAE0;

$bodyFont: 'Anuphan', sans-serif;;
$displayFont: 'Berkshire Swash', cursive;
$regular: 400;
$light: 200;
$bold: 600;