header,
nav,
main,
footer {
  max-width: 75rem;
  margin: auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  section {
    width: 50%;
  }
}

/*----------- NAVIGATION --------------*/
nav {
  margin: 0;
  width: 390px;
}
nav button {
  display: none;
}
nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
}
nav ul li {
  border: none;
  border-left: 1px solid #444;
}
nav ul:first-child {
  border-left: none;
}
nav ul li a {
  width: 6rem;
  padding: 0.75rem 0;
}

/*----------- MAIN --------------*/
main div.performers figure {
  width: 23%;
  margin: 1%;
}

/*----------- FOOTER --------------*/
