/*----------- BODY --------------*/


/*----------- HEADER --------------*/


/*----------- NAVIGATION --------------*/
nav ul {
  width: 250px;
}

/*----------- MAIN --------------*/
main div.performers {
  flex-direction: row;
  flex-wrap: wrap;
  figure {
    width: 46%;
    margin: 1rem 2%;
  }
}

/*----------- FOOTER --------------*/