/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: $bodyFont;
}

/*----------- HEADER --------------*/
div#headerWrapper {
  background-color: #222;
}
figure {
  float: left;
  margin: 0;
}
header h1 {
  margin: 0;
  font-family: $displayFont;
  font-size: 3rem;
  color: #fff;
  padding: 0 0 0.5rem 0;
}
header h2 {
  margin: 0;
  font-weight: $regularWeight;
  color: #fff;
  padding: 0 0 0.5rem 0;
}

/*----------- NAVIGATION --------------*/
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
nav ul li a {
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
  border-top: 1px solid #444;
}
nav ul li:first-child a {
  border-top: none;
}
nav ul li.active a {
  background-color: #c31212;
  color: #fff;
}
nav ul li a:hover {
  background-color: #fff;
  color: #222;
}

/*----------- MAIN --------------*/
main {
  padding: 1rem 2%;
}
main div.performers {
  display: flex;
  flex-direction: column;
  figure {
    width: 100%;
    margin: 1rem 0;
  }
  figure img {
    width: 100%;
    height: auto;
  }
  figure#arcImg img {
    float: right;
    shape-outside: circle(100% at 100% 0);
    clip-path: circle(100% at 100% 0);
  }
  figure#triangleImg img {
    float: right;
    shape-outside: polygon(100% 100%, 0 0, 100% 0);
    clip-path: polygon(100% 100%, 0 0, 100% 0);
  }
  figure#diamondImg img {
    float: right;
    shape-outside: polygon(0 50%, 0 0, 100% 0, 100% 50%, 50% 100%);
    clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 50% 100%);
  }
  figure#circleImg img {
    float: right;
    shape-outside: circle(50% at 50% 0);
    clip-path: circle(50% at 50% 0);
  }
  figure figcaption {
    margin-top: 2rem;
  }
}

/*----------- FOOTER --------------*/
div#footerWrapper {
  background-color: #222;
  padding: 0.75rem 0;
}
footer p {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: $lightWeight;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
