header, nav, main, footer {
  max-width: 64rem;
  margin: 0 auto;
}

/* BODY STYLING */
div#pageWrapper {
  grid-template-areas:
    "header"
    "navigation"
    "content"
    "footer";
  grid-template-columns: 100%;
}

/* HEADER STYLING */

/* NAVIGATION STYLING */
nav {
  padding: 0 2vw;
  ul {
    display: flex;
    flex-direction: row;
  }
  ul li {
    border-top: none;
    border-right: 1px solid lighten($navy, 7%);
  }
  ul li:last-child {
    border-right: none;
  }
  ul li a {
    padding: 0.75rem 1.5rem;
  }
}

/* MAIN STYLING */

/* FOOTER STYING */
