/* BODY STYLING */
div#pageWrapper {
  grid-template-areas:
    "header header"
    "navigation content"
    "footer footer";
  grid-template-columns: 150px auto;
}
div#hamburgerButton {
  display: none;
}

/* HEADER STYLING */

/* NAVIGATION STYLING */
div#links {
  display: none;
}
nav {
  height: auto;
}

/* MAIN STYLING */
main article.tablet {
  margin: 2rem 0;
  min-height: 200px;
}
main article.tablet.right img {
  float: right;
  width: 200px;
  height: auto;
  margin-left: 1rem;
}
main article.tablet.left img {
  float: left;
  width: 200px;
  height: auto;
  margin-right: 1rem;
}

/* FOOTER STYING */
