/* BODY STYLING */
div#pageWrapper {
  grid-template-areas:
    "header header"
    "navigation content"
    "footer footer";
  grid-template-columns: 50%;
}
div#hamburgerButton {
  display: none;
}

/* HEADER STYLING */

/* NAVIGATION STYLING */

/* MAIN STYLING */

/* FOOTER STYING */
