/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*BODY STYLING */
body {
  font-family: $bodyFont;
  font-size: 16px;
  font-weight: $regular;
}
div#pageWrapper {
  display: grid;
  grid-template-areas:
    "hamburger"
    "header"
    "content"
    "footer"
    "navigation";
  grid-template-columns: 100%;
}
div#hamburgerButton {
  grid-area: hamburger;
  background-color: $navy;
  a {
    font-size: 1.5rem;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: #fff;
  }
}

/* HEADER STYLING */
div#headerWrapper {
  grid-area: header;
  background-color: $gray;
}
header {
  padding: 1.75rem 2vw;
  display: grid;
  grid-template-columns: 76px auto;
  align-items: center;
  grid-gap: 1rem;
  img {
    width: 75px;
    height: auto;
  }
  h1 {
    font-family: $displayFont;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: $navy;
  }
}

/* NAVIGATION STYLING */
div#navWrapper {
  background-color: $navy;
  grid-area: navigation;
}
nav {
  height: 100vh;
  div a {
    font-size: 1.5rem;
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: #fff;
  }
  ul li {
    list-style-type: none;
    border-top: 1px solid lighten($navy, 7%);
  }
  ul li:first-child {
    border-top: none;
  }
  ul li a {
    display: block;
    text-decoration: none;
    padding: 1rem 2vw;
    color: #fff;
    font-size: 0.9rem;
  }
  ul li.active a {
    background-color: darken($navy, 7%);
  }
  ul li a:hover {
    background-color: lighten($navy, 7%);
  }
}

/* MAIN STYLING */
main {
  grid-area: content;
  background-color: #fff;
  padding: 1rem 2vw;
  h1 {
    font-family: $displayFont;
  }
  article.tablet {
    margin: 1rem 0;
  }
  article.tablet img {
    width: 100%;
    height: auto;
  }
  article.tablet div h2 {
    margin-bottom: 0.5rem;
    font-family: $displayFont;
    color: $navy;
  }
}

/* FOOTER STYLING */
div#footerWrapper {
  background-color: $navy;
  grid-area: footer;
  footer p {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem 0;
  }
}
