header,
nav,
.boxed,
footer {
  max-width: 64rem;
  margin: 0 auto;
}

/* BODY STYLING */

/* HEADER STYLING */

/* NAVIGATION STYLING */
nav ul li a,
nav ul.open li a {
  padding: 0.5rem 2vw;
}

/* MAIN STYLING */
main div#imgWrapper {
  padding: 0 2vw 0.875rem 2vw;
}
main div#about section#about-cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.9rem 0;
}
main div#articleWrapper div#bottom-articles {
  grid-template-areas:
    "infrastructure technology pricing"
    "support support pricing";
  article#infrastructure {
    grid-area: infrastructure;
  }
  article#technology {
    grid-area: technology;
  }
  article#support {
    grid-area: support;
  }
  article#pricing {
    grid-area: pricing;
    div#pricing-description {
      width: 20%;
    }
  }
}
main div#clients {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* FOOTER STYLING */
