/* BODY STYLING */

/* HEADER STYLING */

/* NAVIGATION STYLING */
nav button {
  display: none;
}
nav ul,
nav ul.open {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  li a {
    padding: 0.75rem 2vw;
  }
}

/* MAIN STYLING */
main div#imgWrapper {
  padding: 0 0 0.875rem 0;
}
main div#bannerWrapper div.boxed {
  display: grid;
  grid-template-columns: 66% auto;
}
main div#about section#about-cards {
  grid-template-columns: 1fr 1fr;
  padding: 0.9rem;
  article {
    width: 100%;
  }
}
main div#articleWrapper div#bottom-articles {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  article#infrastructure {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  article#technology {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  article#pricing {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
  }
  article#support {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }
}
main div#clients {
  grid-template-columns: 1fr 1fr 1fr;
}

/* FOOTER STYLING */
