$primaryColor: #8E443D;
$secondaryColor: #511730;
$hoverColor: #441027;
$fontColor: #320A28;
$lightAccent: #CB9173;
$nearWhite: #FAF3DD;

$defaultFont: 'Sofia Sans Semi Condensed', sans-serif;;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;