$primaryColor: #db0000;
$secondaryColor: #001adb;
$fontColor: #333333;

$defaultFont: 'Sofia Sans Semi Condensed', sans-serif;;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;