/* HEADER STYLING */

/* NAVIGATION STYLING */
nav button {
    display: none;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav ul li a {
    border: none;
    padding: 0.75rem 1.5rem;
}

/* MAIN STYLING */

/* FOOTER STYLING */