/* BODY STYLING */

/* HEADER STYLING */

/* NAVIGATION STYLING */
nav {
  background-color: $teal;
  padding: 0 2vw;
  button {
    display: none;
  }

  /* Top level navigation */
  ul#primaryNav {
    display: flex;
    flex-direction: row;
  }
  ul#primaryNav li {
    list-style-type: none;
  }
  ul#primaryNav li a {
    display: block;
    padding: 0.75rem 2rem;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid lighten($teal, 5%);
    transition: background 0.3s linear;
  }
  ul#primaryNav li:last-child a {
    border-right: none;
  }
  ul#primaryNav li.active a {
    background-color: darken($teal, 5%);
  }
  ul#primaryNav li a:hover {
    background-color: lighten($teal, 5%);
  }

  /* Second level navigation */
  ul#primaryNav li ul {
    display: flex;
    flex-direction: column;
    background-color: darken($teal, 10%);
    position: absolute;
    left: -999rem;
  }
  ul#primaryNav li:hover ul {
    left: auto;
    margin: 0;
    z-index: 99;
  }
  ul#primaryNav li ul a {
    border-top: 1px solid darken($teal, 15%);
    border-right: none;
  }
  ul#primaryNav li.parent > a:after {
    content: "\25BC";
    font-size: 0.6rem;
    color: lighten($teal, 15%);
    float: right;
  }
}

/* MAIN STYLING */
main div.cards {
  grid-template-columns: 1fr 1fr;
  div {
    width: 100%;
  }
}

/* FOOTER STYLING */
