/* BODY STYLING */

/* HEADER STYLING */

/* NAVIGATION STYLING */
nav {
  padding: 0 2vw;
  ul {
    display: flex;
    flex-direction: row;
  }
}

/* MAIN STYLING */
main div.cards {
  grid-template-columns: 1fr 1fr;
  div {
    width: 100%;
  }
}

/* FOOTER STYLING */
