/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY STYLING */
body {
  font-size: 16px;
  font-family: $bodyFont;
  font-weight: $regular;
}

/* HEADER STYLING */
header {
  padding: 1rem 2vw;
  background-image: url(../images/header.jpg), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  h1 {
    padding: 0;
    margin: 0;
    font-family: $displayFont;
    color: $redBrown;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #fff;
  }
  h2 {
    margin: 0.5rem 0;
    color: $purple;
    font-family: $bodyFont;
    text-shadow: 1px 1px 2px #fff;
  }
}

/* NAVIGATION STYLING */
nav {
  background-color: $teal;
  ul li {
    list-style-type: none;
  }
  ul li a {
    display: block;
    padding: 0.75rem 2rem;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
  }
  ul li.active a {
    background-color: darken($teal, 5%);
  }
  ul li a:hover {
    background-color: lighten($teal, 5%);
  }
}

/* MAIN STYLING */
main {
  .swiper-wrapper {
    margin-bottom: 1.8rem;
  }
  .swiper {
    width: 100%;
    height: auto;
  }
  .swiper img {
    width: 100%;
    height: auto;
    display: block;
  }
  .swiper p {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    margin: 0;
    transform: translateY(-100%);
    padding: 0.5rem 2vw;
    position: absolute;
    width: 100%;
    font-weight: $bold;
  }
  h2 {
    font-family: $displayFont;
    color: $darkOrange;
    padding: 1rem 0 1rem 2vw;
    font-size: 1.75rem;
  }
  div.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5vw;
  }
  div.cards div {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    width: 250px;
    height: 372px;
    margin: 0.75rem 0.5vw;
  }
  div.cards div:nth-child(1) {
    background-image: url(../images/card1.jpg), linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  }
  div.cards div:nth-child(1) a {
    background-color: lighten($lightOrange, 25%);
  }
  div.cards div:nth-child(2) {
    background-image: url(../images/card2.jpg), linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  }
  div.cards div:nth-child(2) a {
    background-color: lighten($teal, 50%);
  }
  div.cards div:nth-child(3) {
    background-image: url(../images/card3.jpg), linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  }
  div.cards div:nth-child(3) a {
    background-color: lighten($purple, 40%);
  }
  div.cards div:nth-child(4) {
    background-image: url(../images/card4.jpg), linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  }
  div.cards div:nth-child(4) a {
    background-color: lighten($redBrown, 40%);
  }
  div.cards div a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 2rem 2vw;
    transition: all 0.5s ease-in;
    text-align: center;
  }
  div.cards div a:hover {
    background: none;
    text-shadow: 0 0 4px #fff;
  }
  div.cards div a img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  div.cards div a h3 {
    color: #222;
  }
}

/* FOOTER STYLING */
footer {
  background-color: $teal;
  padding: 1rem 0;
  p {
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    padding: 0;
  }
}
