$teal: #018390;
$lightBlue: #A5C9C9;
$lightOrange: #D9814F;
$darkOrange: #C76C19;
$redBrown: #90493A;
$purple: #745A5D;

$bodyFont: 'Source Sans Pro', sans-serif;
$displayFont: 'Maven Pro', sans-serif;
$light: 200;
$regular: 400;
$bold: 700;