/* BODY STYLING */

/* HEADER STYLING */

/* NAVIGATION STYLING */

/* MAIN STYLING */
main div#cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    section {
        flex-basis: 29%;
        margin: 2%;
    }
}

/* FOOTER STYLING */
