/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY STYLING */
body {
  font-size: 16px;
  font-family: $fontFamily;
  font-weight: $regular;
}

/* HEADER STYLING */
header {
  padding: 3rem 2vw;
  background-color: $darkest;
  h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color: #fff;
    font-weight: $regular;
  }
}

/* NAVIGATION STYLING */

/* MAIN STYLING */
main {
  padding: 2rem 2vw;
  h2 {
    text-align: center;
    color: $accent;
    font-size: 2rem;
    font-weight: $regular;
  }
  div#cards {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 1rem auto;
  }
  div#cards section {
    background-color: $lightest;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 10px;
  }
  div#cards section h3 {
    background-color: $medium;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }
  div#cards section p {
    margin: 1.5rem 0 0.5rem 0;
    font-size: 2.5rem;
    color: $darkest;
  }
  div#cards section img {
    padding-bottom: 0.5rem;
    width: 6rem;
    height: auto;
  }
}

/* FOOTER STYLING */
