/* BODY STYLING  */

/* HEADER STYLING */

/* NAVIGATION STYLING */
nav button {
  display: none;
}
nav ul, nav ul.open {
  display: flex;
  flex-direction: row;
}
nav ul li a {
  border-top: none;
  border-left: 1px solid lighten($accent, 10%);
}
nav ul li:first-child a {
  border: none;
}

/* MAIN STYLING */
main {
  div.parent {
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.parent figure:first-child {
    grid-column: 1 / span 3;
  }
}

/* FOOTER STYLING */
footer div.footerColumns {
  grid-template-columns: 1fr 1fr;
  div {
    padding-left: 2rem;
  }
}
