/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY STYLING */
body {
  font-family: $bodyFont;
  color: $textColor;
  font-size: 16px;
  font-weight: $regular;
  min-width: 320px;
}

/* HEADER STYLING */
header {
  padding: 1rem 2vw;
}

/* NAVIGATION STYLING */
div#navWrapper {
  background-color: $accent;
  padding: 0 2vw;
  ul {
    display: flex;
    flex-direction: row;
  }
  ul li {
    list-style-type: none;
  }
  ul li a {
    display: block;
    padding: 0.75rem 2rem;
    text-decoration: none;
    color: $nearWhite;
    font-size: 0.9rem;
  }
  ul li.active a {
    background-color: darken($accent, 7%);
  }
  ul li a:hover {
    background-color: darken($accent, 12%);
  }
}

/* MAIN STYLING */
main {
  padding: 1rem 2vw;
  div.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  div.parent figure:first-child {
    grid-column: 1 / span 2;
  }
  div.parent figure {
    padding: 0.5rem;
  }
  div.parent figure img {
    width: 100%;
    height: auto;
  }
  div.parent figure figcaption {
    text-align: center;
    font-size: 0.9rem;
  }
}

/* FOOTER STYLING */
#footerWrapper {
  background-color: $darkGray;
}
footer {
  padding: 1rem 2vw;
  color: $nearWhite;
  div.footerColumns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  div.footerColumns div {
    display: flex;
    flex-direction: column;
  }
  div.footerColumns div h3 {
    color: $lightGray;
    padding: 0.5rem 0;
  }
  div.footerColumns div a {
    text-decoration: none;
    color: $nearWhite;
    font-size: 0.9rem;
  }
  div.footerColumns div a:hover {
    color: lighten($accent, 35%);
  }
  p {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 1.5rem;
  }
}
