$textColor: #252422;
$darkGray: #403D39;
$lightGray: #CCC5B9;
$nearWhite: #FFFCF2;
$accent: #b33a0a;

$bodyFont: 'Open Sans', sans-serif;
$displayFont: 'Playfair Display', serif;
$light: 300;
$regular: 400;
$semiBold: 500;
$bold: 600;
