header,
nav,
main,
footer {
  max-width: 75rem;
  margin: auto;
}

/* BODY STYLING */

/* HEADER STYLING */

/* NAVIGATION STYLING */

/* MAIN STYLING */
@for $i from 0 through 12 {
  $w: calc($i / 12) * 100%;
  .large-#{$i} {flex-basis: $w;}
}

/* FOOTER STYLING */
