/* BODY STYLING */
body {
  display: block;
}

/* HEADER STYLING */
header {
  div#logoH1 {
    width: 60%;
  }
  h2 {
    display: block;
  }
  a {
    text-decoration: none;
    color: darken($secondaryColor, 20%);
  }
  div#hamburger {
    display: none;
  }
}

/* NAVIGATION STYLING */
nav {
  height: auto;
  padding: 0 2vw;
  div#closeX {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: none;
  }
  ul li {
    border: none;
    border-left: 1px solid $primaryColor;
  }
  ul li:first-child {
    border: none;
  }
}

/* MAIN STYLING */
@for $i from 0 through 12 {
  $w: calc($i / 12) * 100%;
  .medium-#{$i} {
    flex-basis: $w;
  }
}

/* FOOTER STYLING */
