/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BODY STYLING */
body {
  font-family: $defaultFont;
  font-size: 16px;
  display: grid;
}

/* HEADER STYLING */
div#headerWrapper {
  background-color: $lighterGray;
  border-top: 10px solid $darkerGray;
  grid-row-start: 1;
}
header {
  padding: 1rem 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  div#logoH1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  div#logoH1 figure {
    margin: 0 0.5rem 0 0;
  }
  div#logoH1 figure img {
    width: 75px;
    height: auto;
  }
  div#logoH1 h1 {
    font-size: 1.6rem;
    font-weight: $boldWeight;
  }
  h2 {
    display: none;
  }
}

/* NAVIGATION STYLING */
nav {
  height: 100vh;
  grid-row-start: 4;
  background-color: darken($primaryColor, 15%);
  ul {
    border-bottom: 1px solid $primaryColor;
  }
  ul li {
    border-top: 1px solid $primaryColor;
    list-style-type: none;
  }
  ul li:first-child {
    border-top: none;
  }
  ul li a {
    display: block;
    padding: 0.75rem 2vw;
    text-decoration: none;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: $boldWeight;
  }
  ul li.active a {
    background-color: lighten($tertiaryColor, 5%);
    color: $primaryColor;
  }
  ul li a:hover {
    background-color: $primaryColor;
    color: #fff;
  }
}
div#hamburger a,
div#closeX a {
  display: block;
  padding: 0.8rem 2vw;
  text-align: right;
  font-size: 1.5rem;
  text-decoration: none;
}
div#closeX a {
  margin-right: 2vw;
  color: #fff;
  font-family: sans-serif;
}

/* MAIN STYLING */
main {
  grid-row-start: 2;
  padding: 1rem 2vw;
}
main div.flexed {
  display: flex;
  flex-wrap: wrap;
}
main div div.column {
  padding: 0 $gutter;
}
@for $i from 0 through 12 {
  $w: calc($i / 12) * 100%;
  .small-#{$i} {
    flex-basis: $w;
  }
}
main div.flexed {
  padding: 0 0 1rem 0;
}
main div.flexed div.profile section.profile-card {
  background-color: $secondaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  h2 {
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  button {
    background-color: $primaryColor;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
    margin: 1rem 0;
  }
}
main div.flexed div.large-button {
  a {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    text-decoration: none;
  }
  h3 {
    text-align: center;
    background-color: $primaryColor;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem 0;
    border-radius: 5px;
  }
}
main div.flexed div.blog section.blog-post {
  background-color: $lighterGray;
  margin: 0.5rem 0;
  border-radius: 5px;
  img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  h3 {
    padding: 0.5rem 1rem 0 1rem;
    color: $primaryColor;
  }
  p {
    padding: 0.5rem 1rem;
  }
  button {
    background-color: $secondaryColor;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0 0 5px 5px;
  }
}
main div.flexed div.tip {
  display: block;
  margin: 0.5rem 0;
  section.tip-info {
    background-color: $darkerGray;
    padding: 1rem;
    border-radius: 5px;
  }
  section.tip-info h3 {
    color: $tertiaryColor;
  }
  section.tip-info p {
    padding: 0.5rem 0;
    color: #fff;
  }
  section.tip-info a {
    text-decoration: none;
    color: $lighterGray;
  }
}

/* FOOTER STYLING */
#footerWrapper {
  grid-row-start: 3;
  border-top: 2px solid $primaryColor;
}
footer {
  color: $primaryColor;
  text-align: center;
  padding: 1rem;
}
footer div#icons {
  color: $primaryColor;
  padding: 0.25rem 0 1rem 0;
  i {
    padding: 0 0.25rem;
  }
  i:hover {
    color: $secondaryColor;
  }
}
footer p {
  font-size: 0.8rem;
}
