$primaryColor: #274c77;
$secondaryColor: #6096ba;
$tertiaryColor: #a3cef1;
$darkerGray: #8b8c89;
$lighterGray: #e7ecef;

$defaultFont: "Lora", serif;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 1vw;
