/*----------- BODY --------------*/

/*----------- HEADER --------------*/
div#headerWrapper {
  background-image: url(../images/header-med.jpg);
  height: 240px;
}

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
main .card {
  width: 48%;
  margin: 1%;
}

/*----------- FOOTER --------------*/
