/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

#barWrapper {
  background-color: $darkest-gray;
}
#topBar {
  color: #fff;
  padding: 0.5rem 2%;
  h2 {
    margin: 0;
    font-weight: 200;
  }
}

/*----------- HEADER --------------*/
div#headerWrapper {
  background-image: url(../images/header-sm.jpg);
  height: 140px;
  background-position: center;
}
header {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
header h1 {
  padding: 1rem 2%;
  color: #fff;
  margin: 0;
  background-color:rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

/*----------- NAVIGATION --------------*/
#navWrapper {
  background-color: $purple-gray;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav ul li a {
  display: block;
  color: #fff;
  font-weight: 400;
  padding: 0.5rem 0rem;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: center;
}

nav ul li a:hover {
  background-color: #fff;
  color: $purple-gray;
}
nav ul li.active a {
  background-color: $darker-brown;
  color: #fff;
}

/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 10rem;
}
main h1 {
  color: $purple-gray;
  font-weight: 600;
}
main .cardDeck {
  display: flex;
  flex-wrap: wrap;
}
main .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  h3 {
    background-color: $lighter-brown;
    color: #fff;
    width: 100%;
    padding: 0.75rem 0;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 10px 10px 0 0;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
  img {
    width: 2rem;
    height: 2rem;
  }
  i {
    padding: 1rem 0 1rem 0;
  }
  p {
    padding: 0 1rem;
    background-color: #fff;
  }
  a {
    text-decoration: none;
    display: block;
    background-color: $accent-blue;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 0 0 10px 10px;
  }
}

/*----------- FOOTER --------------*/
#footerWrapper {
  background-color: $darkest-gray;
}
footer {
  padding: 0.5rem 2%;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
