/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

#barWrapper {
    background-color: red;
}
#topBar {
    color: #fff;
    padding: 0.5rem 2%;
    h2 {
        margin: 0;
    }
}

/*----------- HEADER --------------*/
div#headerWrapper {
    background-image: url(../images/header-sm.jpg);
    height: 140px;
    background-position: center;
}
header {
    padding: 2rem 2%;
    color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
#navWrapper {
    background-color: $gray;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li a {
    display: block;
    color: #fff;
    padding: .5rem 0rem;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #fff;
    color: $gray-l1;
}
nav ul li.active a {
    background-color: $gray-l1;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

/*----------- FOOTER --------------*/
#footerWrapper {
    background-color: $gray;
}
footer {
    padding: .5rem 2%;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}